:root {
    /* ### Primary */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /* ### Neutral */
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'DM Serif Display', serif;
    font-weight : 400;
    font-family: 'Karla', sans-serif; 
    font-weight : 400, 700*/

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

.btn {
    padding: 10px 15px;
    border: 2px solid white;
    background-color: transparent;
}

.container {
    padding 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px
}

.flex {
    display: flex;
}

.flex > div {
    flex: 1;
}

/* Nav Styling */
nav {

}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 30px;
}

nav li a {
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    text-decoration: none;
}

/* Header Styling */
header {

}

/* Section Styling */
section {

}

/* Footer Styling */
footer {

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}